/* Community page */

h2 {
  text-align: center;
}

.main-content--c {
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.content {
  display: flex;
  padding: 5%;
  gap: 5%;
}

.content-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 40px;
}

.photo {
  width: 10vw;
}