/* Community page */

h2 {
  text-align: center;
}

.main-content--c {
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

#fullProgress{
  width: 100%;
  background-color: grey;
}
#progressBar{
  width: 1%;
  height: 45px;
  background-color: green;
}
.content {
  display: flex;
  padding: 5%;
  gap: 5%;
}

.content-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 40px;
}

.photo {
  width: 10vw;
}

.description {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  margin-bottom: 50px;
}

.headerCom {
  margin-bottom: 20px;
}

h3 {
  text-align: center;
}