/* Contact page */

.main-content--c {
  justify-content: center;
}

.main-content__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
}

.photo--small {
  width: 15vw;
}

