/* Front page */

.global {
  display: grid;
  align-items: center;
  grid-template-columns: 1ft;
  padding: 2%;
}

body {
  overflow-x: hidden;
}

.main-content{
  text-align: center;
}

.figure{
  padding: 0%;
  border: 0cap;
}

.text {
  text-align: left;
}

@media (max-width: 600px) {

  .text {
    font-size: 14px;
  }

}