
/* Navigation Bar */

.header {
  width: 100%;
  margin-bottom: 40px;
  background-color: var(--bg-container-color);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.logo img {
  width: 80px;
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 70px;
}

.nav-bar-global {
  display: none;
}

.nav-bar-item {
  font-weight: 600;
}

.nav-bar-item a {
  font-size: 22px;
}

.nav-bar-item a {
  padding: 15px;
}

/* Page content */