
/* Navigation Bar */

.header, 
.header-content {
  overflow: visible;
}

.header {
  width: 100%;
  margin-bottom: 40px;
  background-color: var(--bg-container-color);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 80px;
}

.nav-bar {
  position: relative;
}

/* Style the dropdown button */
.nav-bar-global {
  background-color: var(--text-highlighted-color);
  color: var(--bg-layout-color);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 200px;
  border-radius: 5%;
}

/* Dropdown content */
.nav-bar-item {
  display: none;
  position: absolute;
  background-color: var(--bg-block-color);
  min-width: 200px;
  border-radius: 5%
}

/* Links inside dropdown content */
.nav-bar-item a {
  color: var(--text-primary-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.nav-bar-item a:hover {
  background-color: var(--bg-container-color);
  border-radius: 15%
}

/* Show the dropdown content on hover */
.nav-bar:hover .nav-bar-item {
  display: block;
}

/* Change background color of dropdown button on hover */
.nav-bar:hover .nav-bar-global {
  background-color: var(--text-highlighted2-color);
}
