:root {
  --bg-layout-color: #f1fbf6;
  --bg-container-color: #e6f9ef;
  --bg-block-color: #d6f3df;
  --text-primary-color: #08321c;
  --text-secondary-color: #2a6b44;
  --text-highlighted-color: #27b16a;
  --text-highlighted2-color: #0fa055;
}

* {
  box-sizing: border-box;
  font-family: var(--text-font);
  color: var(--text-primary-color);
}

body {
  margin: 0;
  background-color: var(--bg-layout-color);
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--text-highlighted-color);
}

h3 {
  padding: 10px;
}

.text-highlitghted1 {
  color: var(--text-highlighted-color);
}

.text-highlitghted2 {
  color: var(--text-highlighted2-color);
}

h4,
h1,
h2,
h3 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

/* Navigation Bar */

.header {
  width: 100%;
  margin-bottom: 40px;
  background-color: var(--bg-container-color);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.logo img {
  width: 80px;
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 70px;
}

.nav-bar-item {
  font-size: 15px;
  font-weight: 600;
}