/* Task page */

.center {
  display: grid;
  grid-template-columns: 1fr;
  padding: 5%;
}

.gaps {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  background-color: var(--bg-block-color);
  border: solid 3px var(--text-highlighted-color);
  border-radius: 8%;
  width: 65%;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table,
th,
td {
  border: 1px solid green;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}
